template(name="admin")
	.container
		h3.center Administrador
		.section
			h4 Usuários
			table.responsive-table.row
				thead
					tr
						th
						th Nome Completo
						th E-mail
						th Admin
						th Aprovado
						th 
				tbody
					each listUsers
						tr 
							td
								.imgWrapper.circle.z-depth-1
									img(src="#{avatar}")
							td #{profile.fullname}
							td {{emails.[0].address}}
							if role
								td
									p.center
										input(type="checkbox" checked="checked" id="adm_{{username}}").filled-in.isAdmin
										label(for="adm_{{username}}").center
							else
								td 
									p.center
										input(type="checkbox" id="adm_{{username}}").filled-in.isAdmin
										label(for="adm_{{username}}").center
							if emails.[0].verified
								td 
									p.center
										input(type="checkbox" checked="checked" id="verif_{{username}}").filled-in.emailVerified
										label(for="verif_{{username}}").center
							else
								td
									p.center
										input(type="checkbox" id="verif_{{username}}").filled-in.emailVerified
										label(for="verif_{{username}}").center
							td: a(href="#").edit.btn.red.removeUser Excluir
			.divider

		.section
			h4 Aprovação de Justelecas
			a.update-ranking.btn.blue.right Atualizar ranking
			table.responsive-table.row
				thead
					tr
						th De
						th Para
						th Motivo
						th Quando
						th Aprovado
						th 
				tbody
					each listJustelecas
						tr 
							td #{senderName}
							td #{recieverName}
							td #{message}
							td {{> timeago when}}
							if approved
								td
									p.center
										input(type="checkbox" checked="checked" id="approve_{{_id}}").filled-in.isApproved
										label(for="approve_{{_id}}").center
							else
								td 
									p.center
										input(type="checkbox" id="approve_{{_id}}").filled-in.isApproved
										label(for="approve_{{_id}}").center
							td: a(href="#").edit.btn.red.removeCard Excluir
			.divider
		
